@charset "UTF-8";

.dogiecontent
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: darkgrey;
    border-color: white;
    border: 10em;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

#slider
{
    margin:0.5rem;
    max-width: 100vh;
}

#text
{
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    align-content:stretch;
}