@charset "UTF-8";

.dogiecontent
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(41, 41, 41);
    border-color: white;
    border: 10em;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
}

#slider
{
    max-width: 50vh;
}

#text
{
    font-size: large;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-content:stretch;
}